* {
  display: block;
  border-width: 3px;
  border-color: #000055;
}

span {
  display: inline;
}

html {
  width: 600px;
  padding: 10px;
  border-width: 5px;
  margin: auto;
  background: #0000cc;
}

head {
  display: none;
}

.inner {
  height: 100px;
  margin-bottom: 20px;
}

span#name {
  background: red;
  color: white;
}
